@using PromptEnhancer.Models.Enums
@model DemoApp.Models.ConfigurationSetup

@{
    var aiProviders = Enum.GetValues(typeof(AIProviderEnum))
                   .Cast<AIProviderEnum>()
                   .Select(e => e.ToString())
                   .ToList();
}

<div class="mb-3">
    @Html.LabelFor(m => m.KernelConfiguration.Model, new { @class = "form-label", title = "The name of the AI model to use (e.g., gpt-4, gpt-4o)." })
    @Html.TextBoxFor(m => m.KernelConfiguration.Model, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.KernelConfiguration.Model, "", new { @class = "text-danger" })
</div>

<div class="mb-3">
    @Html.LabelFor(m => m.KernelConfiguration.EmbeddingModel, new { @class = "form-label", title = "The name of the AI embedding model to use (e.g., text-embedding-3-small, text-embedding-3-large)." })
    @Html.TextBoxFor(m => m.KernelConfiguration.EmbeddingModel, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.KernelConfiguration.EmbeddingModel, "", new { @class = "text-danger" })
</div>

<div class="mb-3">
    @Html.LabelFor(m => m.KernelConfiguration.AIApiKey, new { @class = "form-label", title = "Your API key for accessing the AI provider. Keep this secret." })
    @Html.TextBoxFor(m => m.KernelConfiguration.AIApiKey, new { @class = "form-control", type = "password", autocomplete = "off", placeholder = "Enter new API key" })
    @Html.ValidationMessageFor(m => m.KernelConfiguration.AIApiKey, "", new { @class = "text-danger" })
    <div class="form-text text-muted">
        @Model.DemoAppConfigSetup.AIApiKeyFromInput
    </div>
</div>

<div class="input-container">
    <div class="mb-3">
        @Html.LabelFor(m => m.KernelConfiguration.Provider, new { @class = "form-label", title = "The name of the provider (e.g., OpenAI, Gemini)." })
        @Html.DropDownListFor(m => m.KernelConfiguration.Provider,
                 new SelectList(aiProviders, Model.KernelConfiguration.Provider),
                 "Select AI provider", new { @class = "form-control js-example-basic-single" })
        @Html.ValidationMessageFor(m => m.KernelConfiguration.Provider, "", new { @class = "text-danger" })
    </div>
</div>

