@model List<PromptEnhancer.Models.Entry>

<div class="mb-3 mt-3"><h4>Entries setup</h4></div>

@for (int i = 0; i < Model.Count; i++)
{
    <div class="entry">
        <h3>Entry @(i + 1)</h3>
        <div class="mb-3">
            @Html.LabelFor(m => m[i].QueryString, new { @class = "form-label", title = "Search query used for augmentation." })
            @Html.TextBoxFor(m => m[i].QueryString, new { @class = "form-control", placeholder = "Query for Search", required = "required" })
            @Html.ValidationMessageFor(m => m[i].QueryString, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m[i].EntryName, new { @class = "form-label", title = "Entry name" })
            @Html.TextBoxFor(m => m[i].EntryName, new { @class = "form-control", placeholder = "Entry Name" })
            @Html.ValidationMessageFor(m => m[i].EntryName, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m[i].EntryOriginalText, new { @class = "form-label", title = "Original text to be processed." })
            @Html.TextAreaFor(m => m[i].EntryOriginalText, new { @class = "form-control", rows = "3", placeholder = "Entry Original Text" })
            @Html.ValidationMessageFor(m => m[i].EntryOriginalText, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m[i].EntryAdditionalData, new { @class = "form-label", title = "Optional extra data to supplement processing." })
            @Html.TextAreaFor(m => m[i].EntryAdditionalData, new { @class = "form-control", rows = "3", placeholder = "Entry Additional Data" })
            @Html.ValidationMessageFor(m => m[i].EntryAdditionalData, "", new { @class = "text-danger" })
        </div>
    </div>
}
