@model DemoApp.Models.ConfigurationSetup

<div class="mb-3">
    @Html.LabelFor(m => m.SearchConfiguration.QueryString, new { @class = "form-label", title = "The query string to send to the search provider." })
    @Html.TextBoxFor(m => m.SearchConfiguration.QueryString, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SearchConfiguration.QueryString, "", new { @class = "text-danger" })
</div>

<div class="mb-3">
    @Html.LabelFor(m => m.SearchConfiguration.SearchProviderData.SearchApiKey, new { @class = "form-label", title = "The API key used to authenticate with the search provider." })
    @Html.TextBoxFor(m => m.SearchConfiguration.SearchProviderData.SearchApiKey, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SearchConfiguration.SearchProviderData.SearchApiKey, "", new { @class = "text-danger" })
    <div class="form-text text-muted">
        @Model.DemoAppConfigSetup.SearchApiKeyFromInput
    </div>
</div>

<div class="mb-3">
    @Html.LabelFor(m => m.SearchConfiguration.SearchProviderData.Engine, new { @class = "form-label", title = "The name or ID of the search engine (e.g., Google)." })
    @Html.TextBoxFor(m => m.SearchConfiguration.SearchProviderData.Engine, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SearchConfiguration.SearchProviderData.Engine, "", new { @class = "text-danger" })
    <div class="form-text text-muted">
        @Model.DemoAppConfigSetup.SearchEngineFromInput
    </div>
</div>

<div class="mb-3">
    @Html.LabelFor(m => m.SearchConfiguration.SearchProviderData.Provider, new { @class = "form-label", title = "The search provider name (e.g., Google, Bing)." })
    @Html.TextBoxFor(m => m.SearchConfiguration.SearchProviderData.Provider, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SearchConfiguration.SearchProviderData.Provider, "", new { @class = "text-danger" })
</div>
